@tailwind base;
@tailwind components;
@tailwind utilities;





@keyframes orbit1 {
  0%,100% {
    transform: translateX(0) scale(1);
    opacity: 1;
    filter: blur(0);
    z-index: 30;
  }
  33% {
    transform: translateX(120px) scale(.85);
    opacity: .4;
    filter: blur(1.5px);
    z-index: 10;
  }
  66% {
    transform: translateX(-120px) scale(.85);
    opacity: .4;
    filter: blur(1.5px);
    z-index: 10;
  }
}

@keyframes orbit2 {
  0%,100% {
    transform: translateX(120px) scale(.85);
    opacity: .4;
    filter: blur(1.5px);
    z-index: 10;
  }
  33% {
    transform: translateX(-120px) scale(.85);
    opacity: .4;
    filter: blur(1.5px);
    z-index: 10;
  }
  66% {
    transform: translateX(0) scale(1);
    opacity: 1;
    filter: blur(0);
    z-index: 30;
  }
}

@keyframes orbit3 {
  0%,100% {
    transform: translateX(-120px) scale(.85);
    opacity: .4;
    filter: blur(1.5px);
    z-index: 10;
  }
  33% {
    transform: translateX(0) scale(1);
    opacity: 1;
    filter: blur(0);
    z-index: 30;
  }
  66% {
    transform: translateX(120px) scale(.85);
    opacity: .4;
    filter: blur(1.5px);
    z-index: 10;
  }
}

.animate-slide1 { animation: orbit1 8s infinite ease-in-out; }
.animate-slide2 { animation: orbit2 8s infinite ease-in-out; }
.animate-slide3 { animation: orbit3 8s infinite ease-in-out; }


/* -------------------------------------------------------------------------- */

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  50% { border-color: transparent }
}

.animate-typing {
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #00f2ff;
  width: 0;
  animation: typing 2.8s steps(28,end) forwards, blink .7s step-end infinite;
}


/* ----------------------------------------------------------------------- */





